*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
}
.container{
    border-color: greenyellow;
    max-width: 650px; 
    padding: 28px;
    margin: 0 28px ;
    box-shadow: 0 15px 20px #ABB2B9 ;
}
h2{
    font-size: 26pt ;
    font-weight: 600 ;
    text-align:left ;
    color:black ;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}
.content{
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between;
    padding:20px 0 ;
}
.input_box{
    display: flex ;
    flex-wrap: wrap ;
    width: 50% ;
    padding-bottom: 15px ;
}